services:

  loki:
    image: grafana/loki
    container_name: loki
    restart: always
    ports:
      - 3003:3100

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    restart: always
    command: ["--config.file=/etc/tempo.yml"]
    volumes:
    - ./config/tempo/tempo.yml:/etc/tempo.yml

  mimir:
    image: grafana/mimir:latest
    container_name: mimir
    restart: always
    ports:
      - 9090:9090
    command: ["--config.file=/etc/mimir.yml"]
    volumes:
    - ./config/mimir/mimir.yml:/etc/mimir.yml


  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - 3002:3000

    volumes:
     - ./config/grafana/datasources.yml:/etc/grafana/provisioning/datasources/datesources.yml

    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLED_FORM_LOGIN=true
      - GF_SECURITY_ALLOW_EMBEDDING=true

    depends_on:
      - loki
      - tempo
      - mimir

  otel:
    image: otel/opentelemetry-collector-contrib:latest
    container_name: otel
    restart: always
    ports:
      - 4317:4317
      - 4318:4318
      - 8888:8888
    command: ["--config.file=/etc/otelcol/config.yml"]
    volumes:
      - ./config/otel/otel.yml:/etc/otelcol/config.yml
    depends_on:
      - loki
      - tempo
      - mimir
      - grafana

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/log:/var/log
    command: ["--config.file=/etc/promtail/config.yml"]
