services:

  loki:
    image: grafana/loki
    container_name: loki
    restart: always
    ports:
      - 3003:3100

    tempo:
      image: grafana/tempo:latest
      container_name: tempo
      restart: always
      command: ["-config.file=/etc/tempo.yml"]
      volumes:
        - ./config/tempo/tempo.yml:/etc/tempo.yml


  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - 3002:3000

    volumes:
     - ./config/grafana/datasources.yml:/etc/grafana/provisioning/datasources/datesources.yml

    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLED_FORM_LOGIN=true
      - GF_SECURITY_ALLOW_EMBEDDING=true

    depends_on:
      - loki
