server:
  http_listen_port: 3200

  distributor:
    receiver:
      otlp:
        protocols:
          http:
          grpc:

  ingester:
    max_block_duration: 5m

  compactor:
    compaction:
      block_retention: 30m

  storage:
    trace:
      backend: local
    wal:
      path: /tmp/tempo/wal
    local:
      path: /tmp/tempo/blocks 
